* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

html,
body {
  height: 100%;
  background-color: #1c2541;
}

h1 {
  font-size: 24px;
  color: #fff;
}
h2 {
  font-size: 18px;
  color: #fff;
}
h3 {
  font-size: 14px;
  color: #fff;
}

a {
  text-decoration: none;
}
button {
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  width: 120px;
  height: 36px;
  background-color: #0b132b;
  color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
}

@media screen and (max-width: 913px) {
  html {
    font-size: 50%;
  }
}
